body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C0D5C9;
}

a {
  color: #00B7FF;
}

img{
  height: 300px;
  width: 370px;
  padding: 15px;
}


